<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eggplant</title>
    {% load static %}
    <link rel="icon" href="{% static 'images/eggplant_128px_1150153_easyicon.net.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'live2d/css/live2d.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'jquery-ui-1.12.1/jquery-ui.min.css' %}" />
    <link rel="stylesheet" href="{% static 'APlayer/APlayer.min.css' %}">
    <script src="{% static 'APlayer/APlayer.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>

    {% block css_js_reference %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/gradient_background.css' %}" />
    {% endblock %}
</head>
<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner" id="particle_div">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">Eggplant</h3>
                        <nav>
                            <ul class="nav masthead-nav">
                                {% block head %}
                                    <li><a href="../#">Home</a></li>
                                    <li><a href="../#">Blog</a></li>
                                    <li><a href="../#">Image</a></li>
                                    <li><a href="../#">Tools</a></li>
                                    <li class="active"><a href="#">About</a></li>
                                {% endblock %}
                            </ul>
                        </nav>
                    </div>
                </div>
                {% block mainbody %}
                    <p>Hello World</p>
                {% endblock %}
            </div>
        </div>
    </div>
    <!-- APlayer 播放器 -->
    <div id="aplayer" style="display: none; color: #000;"></div>

    <!-- live2d 参考
    https://www.wikimoe.com/live2d-mashiro.html
    https://github.com/galnetwen/Live2D
    -->
    <div id="landlord">
        <div class="message" style="opacity:0"></div>
        <canvas id="live2d" width="280" height="250" class="live2d"></canvas>
        <div class="live_talk_input_body">
            <div class="live_talk_input_name_body">
                <input name="name" type="text" class="live_talk_name white_input" id="AIuserName" autocomplete="off" placeholder="你的名字" />
            </div>
            <div class="live_talk_input_text_body">
                <input name="talk" type="text" class="live_talk_talk white_input" id="AIuserText" autocomplete="off" placeholder="要和我聊什么呀？"/>
                <button type="button" class="live_talk_send_btn" id="talk_send">发送</button>
            </div>
        </div>
        <input name="live_talk" id="live_talk" value="1" type="hidden" />
        <div class="live_ico_box">
            <div class="live_ico_item type_info" id="showInfoBtn"></div>
            <div class="live_ico_item type_talk" id="showTalkBtn"></div>
            <div class="live_ico_item type_huanzhuang" id="huanzhuangButton"></div>
            <div class="live_ico_item type_music" id="musicButton"></div>
            <div class="live_ico_item type_youdu" id="youduButton"></div>
            <div class="live_ico_item type_quit" id="hideButton"></div>
<!--            <audio src="{% static 'music/Mili - Nine Point Eight.mp3' %}" style="display:none;" id="live2d_bgm" data-bgm="0" preload="none"></audio>-->
            <input name="live_statu_val" id="live_statu_val" value="0" type="hidden" />
            <input id="duType" value="douqilai,l2d_caihong" type="hidden">
        </div>
    </div>
    <div id="open_live2d">召唤看板娘</div>
    <script>
        var message_Path = '{% static 'live2d/' %}';
        var static_Path = '{% static '' %}';
        var home_Path = window.location.host;
    </script>
    <script type="text/javascript" src="{% static 'live2d/js/live2d.js' %}"></script>
    <script type="text/javascript" src="{% static 'live2d/js/message.js' %}"></script>
    <script type="text/javascript">
        loadlive2d("live2d", "{% static 'live2d/model/mashiro/seifuku.model.json' %}");
        // loadlive2d("live2d", "{% static 'live2d/model/umaru/umaru.json' %}");
        // loadlive2d("live2d", "{% static 'live2d/model/evergarden/violet.json' %}");
    </script>
</body>
</html>