{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>3D_视频</title>
    <link rel="stylesheet" type="text/css" href="{% static 'examples/css/3d_video.css' %}">
</head>
<body>
    <div class="container">
        <video src="{% static 'examples/video/scene.mp4' %}" autoplay="" preload="" muted="" loop=""></video>
        <div class="box">
            <div>
                <span><video src="{% static 'examples/video/scene.mp4' %}" autoplay="" preload="" muted="" loop=""></video></span>
                <span><video src="{% static 'examples/video/scene.mp4' %}" autoplay="" preload="" muted="" loop=""></video></span>
                <span><video src="{% static 'examples/video/scene.mp4' %}" autoplay="" preload="" muted="" loop=""></video></span>
            </div>
        </div>
    </div>
</body>
</html>