{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>加载动画</title>
    <link rel="stylesheet" type="text/css" href="{% static 'examples/css/loading.css' %}">
</head>
<body>
    <div class="circles">
        <div class="circle circle1"></div>
        <div class="circle circle2"></div>
        <div class="circle circle3"></div>
        <div class="circle circle4"></div>
        <div class="circle circle5"></div>
        <div class="circle circle6"></div>
        <div class="circle circle7"></div>
        <div class="circle circle8"></div>
    </div>
    <script src="{% static 'examples/js/loading.js' %}"></script>
</body>
</html>